[Unit]
Description=Frigate network video recorder ({{ frigate_identifier }})
{% for service in frigate_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} kill {{ frigate_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ frigate_identifier }} 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
                --rm \
                --name={{ frigate_identifier }} \
                --log-driver=none \
                --user={{ frigate_uid }}:{{ frigate_gid }} \
                --cap-drop=ALL \
                --shm-size=64m \
                --mount type=tmpfs,target=/tmp/cache,tmpfs-size=1000000000 \
                -v {{ frigate_config_path }}:/config \
                -v {{ frigate_data_path }}:/media/frigate \
                -v {{ frigate_log_path }}:/var/log \
                -v /etc/localtime:/etc/localtime:ro \
                {% if frigate_container_http_host_bind_port %}
                -p {{ frigate_container_http_host_bind_port }}:{{ frigate_container_http_port }} \
                {% endif %}
                -p 8554:8554 \
                -p 8555:8555/tcp \
                -p 8555:8555/udp \
                --network={{ frigate_container_network }} \
                {{ frigate_container_image }}

{% for network in frigate_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ frigate_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ frigate_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} kill {{ frigate_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ frigate_identifier }} 2>/dev/null || true'
Restart=always
RestartSec=30
SyslogIdentifier={{ frigate_identifier }}

[Install]
WantedBy=multi-user.target
